@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans', sans-serif;     
    scroll-behavior: smooth;
  }

  body {    
    background-color: theme(colors.darkBlue);
  }

  img {
    height: auto;
  }
}
  
@layer components {
  .header-link { 
    display: flex;
    align-items: center;    
    gap: theme(gap.3);
    border-radius: theme(borderRadius.md);
    cursor: pointer;
    padding: .75rem .5rem;
    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: theme(colors.mediumGray);
    }
  }

  .menu-option {    
    position: relative;
    cursor: pointer;
    padding: 1.125rem;

    &:hover {
      background-color: theme(colors.lightGrayBackground);
    }
  }

  .menu-element-on-hover {
    visibility: hidden;
    position: absolute;
    top: 2.8rem;
    z-index: 10;
    min-width: 17.5rem;
    padding-top: 1.2rem;
    opacity: 0;
    transition: all .15s ease-in-out;    
  }

  .battle-net-panel {
    display: grid;
    grid-template-columns: 60fr 40fr;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    gap: theme(gap.10);
    padding: 5rem 2.5rem;
    margin: 0 auto;    
  }

  .border-panel {
    border-top: 1px solid theme(colors.borderGray);
    border-bottom: 1px solid theme(colors.borderGray); 
  }

  .background-image-styles {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blue-button {
    width: theme(width.full);
    font-weight: theme(fontWeight.bold);
    border-radius: theme(borderRadius.DEFAULT);
    color: theme(colors.white);
    background-color: theme(colors.lightBlue);
    padding: theme(padding.3);
    transition: transform .15s ease-in-out;
  }

  .blue-button-hover {
    border: 2px solid theme(colors.lightBlue);
    transition: all .15s ease-in-out;

    &:hover {
      border-color: #47A6FF;
    }
  }

  .learn-more-button {
    font-size: theme(fontSize.xl);
    font-weight: theme(fontWeight.bold);
    background-color: #2E3345;
    border-radius: theme(borderRadius.DEFAULT);
    padding: 1.25rem 2.5rem;
    transition: transform .15s ease-in-out;
  }

  .learn-more-button-hover {
    border: 2px solid #292F3B;
    transition: all .15s ease-in-out;

    &:hover {
      border-color: #57586C;
    }
  }

  .product-page-grid-section {
    display: grid;
    grid-template-columns: 25% 75%;
    border-bottom: 1px solid theme(colors.borderGray);
    padding-bottom: 4rem;
    margin-top: 4rem;
  }

  .three-and-two-products-in-row {
    width: theme(width.fourProductsInRow);

    &:first-of-type {
      width: theme(width.threeProductsInRow);
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: theme(width.threeProductsInRow);
    }   
  }

  .from-two-to-four-products-in-row {
    width: theme(width.fourProductsInRow);

    &:first-of-type,
    &:nth-child(2) {
      width: theme(width.twoProductsInRow);
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: theme(width.threeProductsInRow);
    }   
  }

  .overwatch2-shop-products {
    width: theme(width.fourProductsInRow);

    &:first-of-type {
      width: theme(width.full);
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: theme(width.twoProductsInRow);
    }     
  }

  .product-type {
    position: absolute;
    top: .6rem;
    left: .6rem;
    font-size: theme(fontSize.xs);
    text-transform: uppercase;
    color: theme(colors.white);
    font-weight: theme(fontWeight.bold);
    letter-spacing: theme(letterSpacing.wide);
    border-radius: theme(borderRadius.md);
    padding: .25rem .5rem;    
  }

  .disable-button {
    pointer-events: none;
    border-color: theme(colors.mediumGray);
  }

  .form-input {
    width: 100%;
    color: theme(colors.white);
    background-color: theme(colors.black);
    border: 1px solid;
    border-radius: theme(borderRadius.DEFAULT);
    outline: none;
    padding: 0.5rem;
    margin: 0.5rem 0;
    transition: border .25s ease-in-out;

    &:hover {
      border: 1px solid theme(colors.white);
    }
  }

  .gray-text-uppercase {
    font-size: theme(fontSize.sm);
    font-weight: bold;
    color: theme(colors.secondMediumGray);
    text-transform: uppercase;
  }

  .swiper-pagination {
    @apply static flex items-center justify-center w-auto !important;
  }

  .swiper-pagination-numbers {
    position: absolute;
    z-index: 2;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    width: theme(width.fit);
    height: theme(height.fit);
    font-size: theme(fontSize.xs);
    font-weight: theme(fontWeight.bold);
    color: theme(colors.white);
    background-color: theme(colors.darkBlue);
    padding: .25rem .5rem;
    border-radius: theme(borderRadius.DEFAULT);
  }

  .swiper-slide-thumb-active {
    &::before {
      content: '';
      position: absolute;
      bottom: -.5rem;
      left: 0;
      background-color: theme(colors.lighterBlue);
      width: theme(width.full);
      height: 5px;
      border-radius: theme(borderRadius.DEFAULT);
    }
  }

  .custom-bullet {
    @apply w-10 h-[4px] bg-lightGray rounded-md transition-all hover:bg-white hover:opacity-80
    max-[720px]:w-6 max-[720px]:mx-[2px] !important;
  }
  
  .swiper-pagination-bullet-active.custom-bullet {
    @apply bg-lighterBlue h-[6px] !important;
  }

  .swiper-button {
    position: absolute;
    top: 50%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: theme(width.20);
    height: theme(height.11);
    background-color: theme(colors.darkBlue);
    border-radius: theme(borderRadius.md);
    border-width: 1px;
    transform: translateY(-50%);   
  }

  .swiper-scrollbar {
    @apply left-0 flex items-center gap-2 w-full rounded border border-lighterBorderGray h-5 pl-4 !important;
  }

  .swiper-scrollbar-hidden {
    display: none !important;
  }

  .swiper-scrollbar-drag {
    @apply left-[-.5rem] cursor-grab bg-borderGray h-2 transition-colors hover:bg-lighterBorderGray !important;
  }

  .border-button-and-box-shadow {
    border: 1px solid theme(colors.lighterBorderGray);

    &:hover {
      box-shadow: inset 0 0 0 1px theme(colors.lightestBorderGray);
      border-color: theme(colors.lightestBorderGray);
    }
  }

  .hover-light-gray-background {
    border-radius: theme(borderRadius.md);
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: theme(colors.lightGrayBackground);
    }
  }

  .active-translate-y {
    &:active {
      transform: translateY(1px);
    }
  }  
}