@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans', sans-serif;     
    scroll-behavior: smooth;
  }

  body {
    @apply bg-darkBlue;
  }
}

@layer components {
  .header-link {
    @apply flex items-center gap-3 rounded-md cursor-pointer py-3 px-2 transition-colors hover:bg-mediumGray;
  }

  .menu-option {
    @apply relative cursor-pointer p-[1.125rem] hover:bg-lightGrayBackground;
  }

  .menu-element-on-hover {
    @apply invisible absolute top-[2.8rem] z-10 min-w-[17.5rem] pt-[1.2rem] opacity-0
    group-hover:visible group-hover:opacity-100 transition-all; 
  }

  .battle-net-panel {
    @apply grid grid-cols-[60fr_40fr] items-center justify-center max-w-[1440px] gap-10
    px-10 py-20 m-auto;
  }

  .border-panel {
    @apply  border-b border-t border-t-borderGray border-b-borderGray;
  }

  .background-image-styles {
    @apply bg-no-repeat bg-cover bg-center;
  }

  .blue-button {
    @apply w-full font-bold rounded text-white bg-lightBlue p-3 transition-transform;
  }

  .blue-button-hover {
    @apply border-[2px] border-lightBlue transition-all hover:border-[#47A6FF];
  }

  .learn-more-button {
    @apply text-xl font-bold bg-[#2E3345] rounded px-10 py-5 transition-transform;
  }

  .learn-more-button-hover {
    @apply border-[2px] border-[#292F3B] transition-all hover:border-[#57586C];
  }

  .two-products-in-row {
    @apply w-[calc((100%-24px)/2)];
  }

  .three-products-in-row {
    @apply w-[calc((100%-48px)/3)];
  }

  .four-products-in-row {
    @apply w-[calc((100%-72px)/4)];
  }

  .three-and-two-products-in-row {
    @apply first-of-type:three-products-in-row [&:nth-child(2)]:three-products-in-row
    [&:nth-child(3)]:three-products-in-row four-products-in-row;
  }

  .from-two-to-four-products-in-row {
    @apply first-of-type:two-products-in-row [&:nth-child(2)]:two-products-in-row 
    [&:nth-child(3)]:three-products-in-row [&:nth-child(4)]:three-products-in-row
    [&:nth-child(5)]:three-products-in-row four-products-in-row;
  }

  .overwatch2-shop-products {
    @apply first-of-type:w-full [&:nth-child(2)]:two-products-in-row [&:nth-child(3)]:two-products-in-row
    four-products-in-row;
  }

  .product-type {
    @apply absolute top-[.6rem] left-[.6rem] text-xs uppercase text-white font-bold tracking-wide 
    rounded-md py-1 px-2;
  }

  .swiper-pagination {
    @apply static flex items-center justify-center w-auto !important;
  }

  .custom-bullet {
    @apply w-10 h-[4px] bg-lightGray rounded-md transition-all hover:bg-white hover:opacity-80
    max-[720px]:w-6 max-[720px]:mx-[2px] !important;
  }
  
  .swiper-pagination-bullet-active.custom-bullet {
    @apply bg-lighterBlue h-[6px] !important;
  }

  .swiper-button {
    @apply absolute top-[50%] z-20 flex justify-center items-center w-20 h-11 bg-darkBlue
     border-button-and-box-shadow rounded-md border translate-y-[-50%] invisible opacity-0 transition-all
    duration-[300ms] group-hover:visible group-hover:opacity-100;
  }

  .border-button-and-box-shadow {
    @apply border border-lighterBorderGray hover:shadow-[inset_0_0_0_1px] hover:shadow-lightestBorderGray 
    hover:border-lightestBorderGray;
  }

  .hover-light-gray-background {
    @apply rounded-md cursor-pointer transition-colors hover:bg-lightGrayBackground;
  }

  .active-translate-y {
    @apply active:translate-y-[1px];
  }

  .active-left-border {
    @apply before:content-[""] before:absolute before:top-0 before:left-[.2px] before:h-full before:rounded-tl-md 
    before:rounded-bl-md before:active:border-l-[3px] before:active:border-l-lightBlue;
  }
}